@use "@scss/config" as *;

.home-page {
    background-color: $primary_10;
    width: 100%;
    height: fit-content;
    min-height: 100dvh;

    h1 {
        font-size: 3rem;
        margin: 0 auto 1rem;
        width: fit-content;
    }

    .home-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        // @include break('lg') {
        //     grid-template-columns: repeat(3, 1fr);
        // }

        // @include break('md') {
        //     grid-template-columns: repeat(2, 1fr);
        // }

        // @include break('sm') {
        //     grid-template-columns: repeat(1, 1fr);
        // }

        .page-view {
            position: relative;
            aspect-ratio: 16/9;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius: 0.5rem;
            overflow: hidden;
            border: 0.0625rem solid $secondary;
            box-shadow: 0rem 0.15rem 1rem $secondary_20;

            &:hover {
                img {
                    transform: scale(1.2);
                }

                h5 {
                    transform: scale(0.75);
                }
            }

            h5 {
                position: relative;
                font-size: 1.25rem;
                height: fit-content;
                width: fit-content;
                z-index: 1;
                padding: 0.5rem 0.75rem;
                background-color: $primary_40;
                border-radius: 0.5rem;
                transition: transform 0.3s ease-in-out;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
            }
        }
    }
}