$primary_120: #25078A;
$primary_110: #3109B6;
$primary_100: #3C0CD6;
$primary_90: #4F0FDC;
$primary_80: #6A35E3;
$primary_70: #8E62EB;
$primary_60: #B38DF3;
$primary_50: #D7B8FB;
$primary_40: #EAD4FD;
$primary_30: #F5E8FE;
$primary_20: #FAF3FF;
$primary_10: #FCF7FF;

$secondary_120: #37280d;
$secondary_110: #523c14;
$secondary_100: #6d511a;
$secondary_90: #886521;
$secondary_80: #a47927;
$secondary_70: #bf8d2e;
$secondary_60: #c89d4c;
$secondary_50: #d1ae6a;
$secondary_40: #dabe88;
$secondary_30: #e4cea5;
$secondary_20: #eddec3;
$secondary_10: #f6efe1;

$third_120: #2A2927;
$third_110: #3D3C3A;
$third_100: #4F4E4C;
$third_90: #62615E;
$third_80: #757571;
$third_70: #898A85;
$third_60: #9D9E9A;
$third_50: #B1B3AF;
$third_40: #C5C7C5;
$third_30: #D9DBDA;
$third_20: #E0E2E1;
$third_10: #E6E8E8;

$primary: $primary_70;
$secondary: $secondary_70;
$third: $third_70;
$fourth: #c53232;
$fifth: #00E244;