@use "@/scss/config" as *;

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 600;
    border: 0.0625rem solid;
    cursor: pointer;
    padding: 0.75rem 1.875rem;
    width: fit-content;
    border-radius: 0.5rem;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border-color 0.3s ease-in-out,
        transform 0.3s ease-in-out;

    &:not([variant]),
    &[variant="primary"] {
        background-color: $primary;
        border-color: $primary;
        color: #fff;

        &:not(:disabled):hover {
            background-color: $secondary;
            border-color: $secondary_80;
        }

        &:disabled {
            background-color: $third_50;
            border-color: $third_70;
            cursor: initial;
            color: $third_90;
        }
    }

    &[variant="secondary"] {
        background-color: $primary_50;
        border-color: $primary_50;
        color: #fff;

        &:not(:disabled):hover {
            background-color: $secondary_30;
            border-color: $secondary_40;
        }

        &:disabled {
            background-color: $third_50;
            border-color: $third_70;
            cursor: initial;
            color: $third_90;
        }
    }
}

[data-nav-drawers-views] {
    position: fixed;
    top: 50%;
    right: -0;
    transform: translate(100%, -50%);
    height: 100%;
    min-width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    cursor: pointer;
    z-index: 101;
    transition: transform 0.3s ease-in-out;

    &.active {
        transform: translate(0, -50%);

        .hook-open {
            visibility: hidden;
            opacity: 0;
            transform: translate(0, -50%);
        }
    }

    .hook-open {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        height: fit-content;
        box-shadow: 0rem 0.15rem 1rem $primary;
        background-color: $primary_50;
        border-radius: 50% 0 0 50%;
        padding: 0.75rem;
        visibility: visible;
        opacity: 0.8;
        z-index: -1;
        cursor: pointer;
        transition:
            opacity 0.3s ease-in-out,
            visibility 0.3s ease-in-out,
            transform 0.3s ease-in-out;

        svg {
            display: block;
            width: 1.5rem;
            height: auto;
            transform: rotate(-90deg);

            path {
                fill: $primary;
            }
        }
    }

    .quick-view {
        width: fit-content;
        border-left: 0.25rem solid $primary_60;
        border-radius: 0.5rem 0 0 0.5rem;
        height: fit-content;
        background-color: #fff;
        padding: 5rem 0.75rem 2rem;
        display: flex;
        flex-direction: column;
        height: 100%;

        .page-view {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            &.active,
            &:hover {
                h5 {
                    text-decoration: underline;
                    transform: scale(1.05) translateX(0.25rem);
                    color: $primary;
                }

                .page-link {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                }
            }

            h5 {
                user-select: none;
                width: fit-content;
                font-size: 1rem;
                transition:
                    color 0.3s ease-in-out,
                    transform 0.3s ease-in-out,
                    text-decoration 0.3s ease-in-out;
            }

            .page-link {
                border-radius: 0.5rem;
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                background-color: $primary_60;
                padding: 0.5rem 0.75rem;
                transition:
                    opacity 0.3s ease-in-out,
                    visibility 0.3s ease-in-out,
                    z-index 0.3s ease-in-out;

                svg {
                    width: 1.25rem;

                    path {
                        stroke: #fff;
                    }
                }
            }
        }
    }
}

[data-nav-drawers-image] {
    position: fixed;
    top: 35%;
    left: 0.25%;
    transform: translate(0, -50%);
    background-color: #fff;
    width: 55%;
    height: 20%;
    box-shadow: 0.25rem 0.5rem 2rem $primary;
    border-radius: 2rem;
    overflow: hidden;
    display: none;
    object-fit: contain;
    visibility: hidden;
    opacity: 0;
    z-index: 101;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;

    @include break('xxs') {
        width: 58%;
    }

    @include break('s') {
        width: 70%;
        height: 30%;
    }

    @include break('md') {
        width: 80%;
        height: 50%;
    }

    @include break('lg') {
        transform: translate(-50%, -50%);
        left: 45%;
        width: 60%;
        height: 50%;
    }

    @include break('2xl') {
        width: 70%;
        height: 60%;
    }

    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 101;
    }
}

[data-background-window] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 100;

    &.active {
        display: block;
    }

    &[data-version="transparent"] {
        background-color: transparent;
    }
}