@use "../config/mixins-new" as *;

.wrapper {
    width: 85%;
    margin: 7rem auto 2rem;

    &.mt2 {
        margin: 2rem auto 2rem;
    }

    &-75 {
        width: 75%;
        margin: 0 auto;
    }

    &-50 {
        width: 50%;
        margin: 0 auto;
    }
}