name: Deploy to Smallhost

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install PHP dependencies
        run: composer install --no-dev --prefer-dist

      - name: Install Node dependencies
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: Upload via SFTP
        uses: sebastianpopp/sftp-action@v2.0
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          localPath: "./"
          remotePath: "/domains/animated-sections---laravel-ts-scss.vkohut1807.smallhost.pl/"
